.env

# Yarn with Plug'n'Play
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Next.js
.next
next-env.d.ts

# Cache create by prettier
node_modules/.cache/prettier

# Prisma
lib/prisma-client
